<p>Hi <%= customerName %>,</p>
<p>We’re sorry to hear that you’ve canceled your order. If there’s anything we can do to improve your experience, please let us know.</p>

<p>Here are the details of your canceled order:</p>
<ul>
  <li>Plan: <%= planName %></li>
  <li>Destination: <%= country %></li>
  <li>Validity: <%= days %> Days</li>
  <li>Data Allowance: <%= dataLimit %> GBs</li>
</ul>

<p>If this was a mistake or if you’d like to reorder, you can place a new order anytime at <a href="https://roamdigi.com/eSim-plans">RoamDigi</a>.</p>

<p>For further assistance, feel free to reach out to our support team at <%= supportEmail %>.</p>

<p>Best regards,</p>
<p><strong>RoamDigi Team</strong></p>
