<p>Hi <%= CUSTOMER_NAME %>,</p>
<p>We’re sorry to inform you that your eSim with ICCID #<%= ICCID %> has been canceled.</p>

<p>Here are the details of your canceled eSim</p>
<ul>
    <li>Plan: <%= PLAN_NAME %></li>
    <li>Destination: <%= COUNTRY %></li>
    <li>Validity: <%= DAYS %> Days</li>
    <li>Data Allowance: <%= DATA_LIMIT %>GB</li>
</ul>
<p>If you didn’t request this cancellation or need further assistance, please contact our support team.</p>
<p><a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a></p>
<p>We hope to serve you again soon.<br>RoamDigi Team</p>